body{
    background-color: indianred;
}
div{
    background-color: rgb(41, 209, 55);
    width: 200px;
    height: 100px;
}
h1{
    color: blueviolet;
    font-size: 30px;
}
h2{
    color: burlywood;
}
h3{
    color: dimgrey;
}
h4{
    color: lightcoral;
    font-style: oblique;
}
h5{
    color: lightgreen;
}
h6{
    color: limegreen;
    font-size: 10px;
}
.highlyt{
    color: greenyellow;
}
.highlyt1{
    color: honeydew;
    font-style: italic;
    font-size: 20px;
}
.highlyt3{
    color:saddlebrown;
    font-style: italic;
    font-size: 22px;
}
